{% extends 'shop/base.html' %}

{% block base %}


<div class="row">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}"  width="250" height="350" class="img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="width: 18rem;">{{ product.product_name }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Цена: {{product.price}}₽</li>
            {% if product.discount != 0%}
            <li class="list-group-item">SALE</li>
            {% endif %}
            <li class="list-group-item">Размерный ряд: 'M-XL'</li>
          </ul>
          <div class="card-body">
            <a href="{{ product.get_absolute_url }}" class="btn">Подробнее <span class="arrow">❯</span></a>
          </div>
        </div>
    {% endfor %}
</div>

{% endblock%}