{% extends 'shop/base.html' %}
{% block base %}
<br>
<div class="row">
    {% for product in products %}
        <div class="col-lg-4 col-md-6">
            <img src="{{ product.image.url }}"  width="300" height="400" class="img-fluid mb-2">
            <a href="{{ product.get_absolute_url }}"><h3>{{ product.product_name }}</h3></a>
            <p>{{ product.desciption }}</p>
            <p>{{product.price}}₽</p>
        </div>
    {% endfor %}
</div>

{% if cat_selected == 0 %}
    <li class="selected">Все категори</li>
{% else %}
    <li><a href="{% url 'home' %}">Все категори</a></li>
{% endif %}

{% for cat in cats %}
    {% if cat.pk == cat_selected %}
        <li class="selected">{{ cat.name }}</li>
    {% else %}
        <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
    {% endif %}
{% endfor %}

{% endblock%}