{% extends 'shop/base.html' %}
{% load static %}
{% block base %}

<div class="card" style="width: 15rem;">
  <img src="{{ product.image.url }}" width="250" height="350" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.product_name }}</h5>
    <p class="card-text">{{ product.description }}</p>
 
    <form action="{% url 'cart_add' product.id %}" method="POST">
      {% csrf_token %}
      {{ cart_product_form}}
      <button class="button-81" role="button">Добавить в корзину</button>
    </form> 
    <a href="{% url 'home' %}"><button  class="button-81" role="button">Назад</button></a>
  </div>
</div>






{% endblock %}

